nav {
    /*background-color: #FDF8E3;*/
    display: inline-flex;
    width: 100%;
    height: 150px;
    padding: 10px;
   
} 

#navmenu {
   /*background-color: lightgrey;*/
    margin-top: auto;
    margin-bottom: auto;
    display: inline-flex;
   
}

.colormenu {
 
    list-style-type: none;
}

li {
    float: left;
}

li a {
    display: inline;
    text-align: right;
    padding: 20px 30px;
    text-decoration: none;

}
    /* Nav Menu Colors */
.about {
    color:#F3C445;
    display:inline;
}
.projects {
    color: #A4C92B;
    display:inline;
}
.skills {
    color: #9AC1F0;
    display: inline;
}
.resume {
    color: #AB78E1;
    display: inline;
}

/*break line*/
.line {
    display: block;
    background-color: #F3C445;
    width: 100%;
    height: 8px;
}


.logo {
       /*background-color: blue;*/
        size: auto;   
    }

/*middle section */

section{
    padding: 20px;
}


.meimg {
    height: 200px;
    border: solid 5px;
    border-color: #9AC1F0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


p.aboutme {
    background-color: #9AC1F0;
    text-align: center;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

button {
    background-color: #AB78E1;
    padding: 10px;
    border: #AB78E1;
    border-radius: 10px;
    color: #FDF8E3;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*footer*/

footer {
    background-color: #F3C445;
    width: 100%;
     
}

p.email {
    display: inline-flex;
    align-items: center;
    display: block;
    text-align: right;
    padding: 20px 30px;
}

.footerlist {
    display:inline;
    text-decoration: none;
}

.logo2 {
    /*background-color: blue;*/
    width: 23%;    
 }

/* My skills Section using CSS flex*/

.mySkills {
    text-align: center;
}

div.flexContainer {
    display: flex;
    column-count: 4;
    justify-content: space-around;
    height: auto;

}

.interaction {
    background-color: #A4C92B;
    display:flex;
    border: 1px solid black;
    padding: 30px;     
}

.interlist {
    list-style-type: none;
}

.skillsT {
    padding: 30px;
}

.visual {
    background-color: #9AC1F0;
    display:flex;
    border: 1px solid black;
    padding: 30px;

  
}

.software {
    background-color: #F3C445;
    display: flex;
    border: 1px solid black;
    padding: 30px;
  
    
}

.coding {
    background-color: #AB78E1;
    display: flex;
    border: 1px solid black;
    padding: 30px;
   

}

.FunBox {
    width: 600px;
    border: 5px solid #AB78E1;
    background-color: #FDF8E3;
    padding: 50px;
    margin: 20px;
    text-align: left;
}

/*My Work Section Constructed Using CSS Grid*/

/*this is a test number two for github*/